<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<center>
    <form action="/register" method="post" th:object="${register}">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" th:field="*{name}"></td>

            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" th:field="*{email}"></td>

            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
            <tr>
                <button type="submit">Register</button>
            </tr>
        </table>
    </form>
</center>
</body>
</html>